* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #eaeaea;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  font-family: "prox-medium";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 10px;
}

.mobile-overflow {
  overflow: hidden;
  position: fixed;
}

@font-face {
  font-family: "prox-reg";
  src: url(../fonts/ProximaNova-Regular.otf) format("truetype");
}
@font-face {
  font-family: "prox-medium";
  src: url(../fonts/ProximaNova-Semibold.otf) format("truetype");
}
@font-face {
  font-family: "prox-bold";
  src: url(../fonts/ProximaNova-Bold.otf) format("truetype");
}
.app {
  width: 100%;
  padding: 0 0 60px 0;
}

nav {
  width: 100%;
}

.toplinks {
  height: 90px;
  background-color: #dedede;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toplinks img {
  height: 70px;
  margin-top: 4px;
  margin-left: 10px;
}
.toplinks .nav-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 670px;
}
.toplinks .nav-links a {
  text-decoration: none;
  color: #141414;
  font-family: "prox-medium";
  font-size: 20px;
  transition: ease 0.15s;
}
.toplinks .nav-links a:hover {
  color: #0065bd;
  transition: ease 0.15s;
}
.toplinks .nav-links .nav-donate {
  color: #e0e0e0;
  background-color: #0065bd;
  padding: 8px 17px;
  border-radius: 40px;
  border: 3px solid #0065bd;
  transition: ease 0.2s;
  font-family: "prox-bold";
}
.toplinks .nav-links .nav-donate:hover {
  color: #0065bd;
  background-color: #dedede;
  transition: ease 0.2s;
}

.sublinks-container {
  max-width: 100%;
  background-color: #b8b8b8;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sublinks-container .sublinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 42px;
  width: 640px;
}
.sublinks-container a {
  text-decoration: none;
  font-family: "prox-medium";
  color: #464646;
  font-size: 16px;
  transition: ease 0.1s;
}
.sublinks-container a:hover {
  color: #2d2d2d;
  transition: ease 0.1s;
}

.hamburger-icon {
  margin: auto 0;
  display: none;
  transition: ease 0.3s;
  z-index: 50;
  right: 0;
}
.hamburger-icon div {
  background-color: #141414;
  width: 34px;
  height: 3px;
  margin: 8px 0;
  transition: ease 0.3s;
  border-radius: 10px;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-9px, -6px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-down 0.2s ease-in-out;
}

@keyframes slide-down {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  height: calc(100vh - 90px);
  width: 100%;
  background-color: #eaeaea;
  transition: ease 0.3s;
  z-index: 9999;
  padding-top: 20px;
  font-family: "prox-medium";
}
.mobile-menu li {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.mobile-menu li .mobile-link {
  color: #0065bd;
}
.mobile-menu li .mobile-link2 {
  font-size: 18px;
  color: #464646;
}
.mobile-menu li a {
  font-size: 22px;
  color: #141414;
  font-family: "prox-medium";
  text-decoration: none;
  width: 100%;
  height: 70px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.mobile-menu li a i {
  font-size: 16px;
}
.mobile-menu span {
  opacity: 0;
}

.test {
  width: 100%;
  height: 120%;
  background-color: red;
}

.test2 {
  width: 100%;
  height: 120%;
  background-color: blue;
}

@media (max-aspect-ratio: 1/1) {
  .toplinks .nav-links {
    display: none;
  }
  .sublinks-container {
    display: none;
  }
  .hamburger-icon {
    display: block;
    margin-right: 32px;
    margin-top: 28px;
  }
}
footer {
  width: 100%;
  height: 220px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
footer h2 {
  font-family: "prox-bold";
  color: #0065bd;
  font-size: 24px;
}
footer img {
  height: 170px;
  width: 170px;
  display: none;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-socials a {
  margin: -2px 0 20px 0;
  color: #141414;
  text-decoration: none;
  font-size: 18px;
  font-family: "prox-medium";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.1s;
  font-size: 18px;
}
.footer-socials a:hover {
  color: #2a2a2a;
  transition: ease 0.1s;
}
.footer-socials a:hover .footer-face {
  color: #0065bd;
}
.footer-socials a i {
  transition: ease 0.1s;
  font-size: 30px;
  margin: 0 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.footer-contact p {
  font-size: 18px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-links .footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-links .footer-col .footer-donate {
  background-color: #0065bd;
  border: 3px solid #0065bd;
}
.footer-links .footer-col .footer-donate:hover {
  color: #0065bd;
  background-color: #dedede;
  transition: ease 0.2s;
}
.footer-links .footer-col a {
  color: #e0e0e0;
  background-color: #909090;
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: 3px solid #909090;
  transition: ease 0.2s;
  font-family: "prox-bold";
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px;
}
.footer-links .footer-col a:hover {
  color: #909090;
  background-color: #dedede;
  transition: ease 0.2s;
}
.footer-links .footer-col p {
  width: 220px;
  height: 50px;
  margin: 14px;
}

@media screen and (max-width: 1625px) {
  footer .footer-contact {
    margin-right: 0;
  }
}
@media screen and (max-width: 1420px) {
  footer {
    height: 250px;
  }
  footer h2 {
    font-size: 24px;
  }
  footer .footer-links .footer-col a {
    width: 180px;
    font-size: 16px;
  }
  footer .footer-links .footer-col p {
    width: 180px;
  }
  footer .footer-socials a {
    font-size: 16px;
  }
  footer .footer-contact p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1330px) {
  footer {
    height: 220px;
  }
  footer h2 {
    font-size: 24px;
  }
  footer .footer-links .footer-col {
    height: 190px;
  }
  footer .footer-links .footer-col a {
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
  footer .footer-links .footer-col p {
    height: 40px;
    width: 130px;
  }
  footer .footer-socials a {
    font-size: 16px;
  }
  footer .footer-contact p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    height: 800px;
    flex-direction: column;
  }
  footer h2 {
    font-size: 24px;
  }
  footer img {
    display: block;
  }
  footer .footer-links .footer-col {
    height: 220px;
  }
  footer .footer-links .footer-col a {
    width: 180px;
    height: 50px;
    font-size: 16px;
  }
  footer .footer-links .footer-col p {
    height: 50px;
    width: 180px;
  }
  footer .footer-socials a {
    font-size: 16px;
  }
  footer .footer-contact p {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  footer {
    height: 900px;
    flex-direction: column;
  }
  footer h2 {
    font-size: 24px;
  }
  footer .footer-links {
    max-width: 660px;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
  }
  footer .footer-links .footer-col {
    height: 6%;
    flex-direction: row;
  }
  footer .footer-links .footer-col a {
    width: 150px;
    height: 30px;
    font-size: 14px;
    margin: 4px;
  }
  footer .footer-links .footer-col p {
    display: none;
  }
}
.donate-header {
  padding: 40px;
  width: 100%;
}
.donate-header p {
  color: #0065bd;
  font-size: 35px;
  text-align: center;
  font-family: "prox-medium";
}

.main-donate-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-donate-holder .donate-link-holder .box {
  width: 390px;
  height: 360px;
  border-radius: 40px;
  margin-bottom: 40px;
  background-color: #d9d9d9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-donate-holder .donate-link-holder .box:hover {
  border: solid 4px #0065bd;
}
.main-donate-holder .donate-link-holder .donate-type-btn {
  border: none;
  width: 390px;
  height: 68px;
  font-size: 22px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.1pc;
  font-family: "prox-medium";
  background-color: #0065bd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-donate-holder .donate-link-holder .donate-type-btn a {
  color: #e0e0e0;
  cursor: pointer;
  text-decoration: none;
}
.main-donate-holder .donate-link-holder .donate-type-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .donate-header p {
    font-size: 28px;
  }
  .main-donate-holder {
    flex-direction: column;
  }
  .main-donate-holder .donate-link-holder .box {
    width: 100%;
  }
  .main-donate-holder .donate-link-holder .donate-type-btn {
    font-size: 18px;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .donate-header p {
    font-size: 24px;
  }
  .main-donate-holder .box {
    width: 50%;
  }
  .main-donate-holder .donate-type-btn {
    font-size: 16px;
    height: 60px;
    margin-bottom: 30px;
  }
}
.donate-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.donate-form .donate-inputs label {
  display: block;
  font-size: 16px;
  color: #7c7c7c;
  padding-left: 25px;
  font-family: "prox-bold";
}
.donate-form .donate-inputs input {
  width: 450px;
  height: 60px;
  display: block;
  font-size: 16px;
  margin-top: 15px;
  padding-left: 20px;
  border-radius: 50px;
  margin-bottom: 25px;
  font-family: "prox-reg";
  border: 2px solid #bbbbbb;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.donate-submit-btn {
  width: 500px;
  height: 68px;
  margin: 0 auto;
}
.donate-submit-btn button {
  border: none;
  color: #e0e0e0;
  cursor: pointer;
  width: 500px;
  height: 68px;
  font-size: 22px;
  border-radius: 50px;
  letter-spacing: 0.1pc;
  font-family: "prox-medium";
  background-color: #0065bd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.donate-submit-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .donate-form {
    flex-direction: column;
    align-items: center;
  }
  .donate-form .donate-inputs input {
    font-size: 14px;
  }
  .donate-submit-btn {
    width: 80%;
  }
  .donate-submit-btn button {
    width: 100%;
    font-size: 18px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .donate-inputs label {
    font-size: 14px;
  }
  .donate-inputs input {
    font-size: 14px;
    width: 20%;
    padding-left: 15px;
  }
  .donate-submit-btn button {
    font-size: 16px;
  }
}
.contact-header {
  padding: 40px;
  width: 100%;
}
.contact-header p {
  color: #0065bd;
  font-size: 35px;
  text-align: center;
  font-family: "prox-medium";
}

.main-contact-parent {
  width: 1100px;
  height: 658px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-contact-parent .contact-info-parent {
  width: 40%;
  height: 100%;
  padding: 30px;
  border-radius: 40px;
  background-color: #0065bd;
}
.main-contact-parent .contact-info-parent h2 {
  color: #e0e0e0;
  font-family: "prox-medium";
  text-align: center;
  margin-bottom: 50px;
}
.main-contact-parent .contact-info-parent .contact-info-body {
  width: 70%;
  margin: 0 auto;
}
.main-contact-parent .contact-info-parent .contact-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.main-contact-parent .contact-info-parent .contact-stats i {
  color: #e0e0e0;
  font-size: 45px;
}
.main-contact-parent .contact-info-parent .contact-stats a {
  color: #e0e0e0;
  text-decoration: none;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  font-family: "prox-medium";
}
.main-contact-parent .contact-info-parent .contact-stats p {
  color: #e0e0e0;
  font-size: 18px;
  width: 100%;
  text-align: left;
  margin-left: 60px;
  font-family: "prox-medium";
}
.main-contact-parent .contact-form-parent {
  margin-left: 25px;
}
.main-contact-parent .contact-form-parent .name-email-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-contact-parent .contact-form-parent .name-email-input .contact-name label, .main-contact-parent .contact-form-parent .name-email-input .contact-email label {
  display: block;
  font-size: 18px;
  color: #909090;
  font-family: "prox-medium";
}
.main-contact-parent .contact-form-parent .name-email-input .contact-name input, .main-contact-parent .contact-form-parent .name-email-input .contact-email input {
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 80px;
  font-family: "prox-medium";
  border-bottom: 2px solid #909090;
  background-color: #d9d9d9;
}
.main-contact-parent .contact-form-parent label {
  display: block;
  font-size: 18px;
  color: #909090;
  margin-bottom: 20px;
  font-family: "prox-medium";
}
.main-contact-parent .contact-form-parent input, .main-contact-parent .contact-form-parent textarea {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: "prox-medium";
  background-color: #d9d9d9;
}
.main-contact-parent .contact-form-parent textarea {
  width: 520px;
  height: 200px;
}
.main-contact-parent .contact-form-parent .contact-subject input {
  width: 520px;
  height: 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-bottom: 2px solid #909090;
}
.main-contact-parent .contact-form-parent .contact-message #cFMessage {
  outline: none;
  padding: 10px;
  border: 2px solid #909090;
}
.main-contact-parent .contact-form-parent .contact-submit-btn button {
  border: none;
  color: #e0e0e0;
  cursor: pointer;
  margin: 0 auto;
  width: 520px;
  height: 68px;
  font-size: 22px;
  border-radius: 50px;
  letter-spacing: 0.1pc;
  font-family: "prox-medium";
  background-color: #0065bd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-contact-parent .contact-form-parent .contact-submit-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .contact-header p {
    font-size: 28px;
    text-align: center;
  }
  .main-contact-parent {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .main-contact-parent .contact-info-parent {
    width: 90%;
    margin-bottom: 30px;
  }
  .main-contact-parent .contact-form-parent {
    align-items: center;
    margin-left: 75px;
  }
}
@media (max-width: 768px) {
  .contact-form-parent .name-email-input {
    flex-direction: column;
  }
  .contact-form-parent .contact-subject {
    width: 50%;
  }
  .contact-form-parent .contact-subject #cFSubject {
    width: 220px;
  }
  .contact-form-parent .contact-message {
    width: 60%;
  }
  .contact-form-parent .contact-message textarea {
    width: 240px;
    height: 100px;
  }
  .contact-form-parent .contact-submit-btn {
    width: 100%;
    margin-left: -10px;
  }
  .contact-form-parent .contact-submit-btn #contactBtn {
    width: 90%;
    font-size: 18px;
    height: 58px;
  }
}
.advocacy-hero {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ad-placeholder.jpg");
}
.advocacy-hero .ad-hero-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}
.advocacy-hero .ad-hero-content .aHeader {
  color: #e0e0e0;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.advocacy-hero .ad-hero-content .ad-type-btn {
  border: none;
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.1pc;
  font-family: "prox-medium";
  background-color: #0065bd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.advocacy-hero .ad-hero-content .ad-type-btn a {
  color: #e0e0e0;
  cursor: pointer;
  text-decoration: none;
}
.advocacy-hero .ad-hero-content .ad-type-btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.ad-body-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.ad-body-content .ad-body-image {
  width: 320px;
  height: 360px;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-right: 60px;
  background-color: #d9d9d9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}
.ad-body-content .ad-body-text-holder {
  width: 500px;
  height: 360px;
  border-radius: 40px;
  margin-bottom: 40px;
  background-color: #d9d9d9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}
.ad-body-content .ad-body-text-holder .ad-body-text {
  width: 500px;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.register-online-title{
  color: #141414;
  padding: 50px;
}

.register-online-note{
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: #0065bd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.note-text {
  font-size: 16px;
  color: #e0e0e0;
  margin-top: 20px;
  text-align: center;
  font-family: "prox-reg";

}
.note-span{
  font-size: 22px;
  color: #e0e0e0;
  font-size: 25px;
  font-family: "prox-medium";
}

.note-text a{
  color: #e0e0e0;
  font-family: "prox-medium";
  text-decoration: underline;
}

.register-online-instructions{
  font-size: 20px;
  padding: 50px;
  text-align: center;
  font-family: "prox-medium";
}

.register-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
  padding-left: 50px;
  margin-bottom: 65px;
}

.register-btns {
  margin: 10px;
  background-color: #0065bd;
  border-radius: 25px;
  width: 200px;
  padding: 12px;
  text-align: center;
  height: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.register-btns a{
  color: #e0e0e0;
  font-size: 18px;
  text-decoration: none;
  font-family: "prox-medium";
}

.register-btns:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .register-online-title {
    padding: 30px;
    font-size: 22px; /* Smaller font size */
  }

  .register-online-note {
    padding: 15px;
  }

  .note-text, .note-span {
    font-size: 16px;
  }

  .register-online-instructions {
    font-size: 18px;
    padding: 20px;
  }

  .register-list{
    display: block;
  }

  .register-btns {
    width: 200px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .register-online-title {
    font-size: 18px;
  }

  .note-text, .note-span {
    font-size: 14px;
  }

  .register-btns {
    width: 250px;
    padding: 8px;
  }

  .register-online-instructions {
    font-size: 16px;
  }
}



/*# sourceMappingURL=styles.css.map */
