nav {
  width: 100%;
}

.toplinks {
  height: 90px;
  background-color: $nav-background-color;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  img {
    height: 80px;
    margin-top: 4px;
    margin-left: 10px;
  }
  .nav-links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    a {
      text-decoration: none;
      color: $black;
      font-family: "prox-medium";
      font-size: 20px;
      transition: ease 0.15s;
      &:hover {
        color: $primary;
        transition: ease 0.15s;
      }
    }
    .nav-donate {
      color: $white;
      background-color: $primary;
      padding: 8px 17px;
      border-radius: 40px;
      border: 3px solid $primary;
      transition: ease 0.2s;
      font-family: "prox-bold";
      &:hover {
        color: $primary;
        background-color: $nav-background-color;
        transition: ease 0.2s;
      }
    }
  }
}
.sublinks-container {
  max-width: 100%;
  background-color: $grey;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  .sublinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    width: 640px;
  }
  a {
    text-decoration: none;
    font-family: "prox-medium";
    color: $nav-sublinks-color;
    font-size: 16px;
    transition: ease 0.1s;
    &:hover {
      color: #2d2d2d;
      transition: ease 0.1s;
    }
  }
}

.hamburger-icon {
  margin: auto 0;
  display: none;
  transition: ease 0.3s;
  z-index: 50;
  //cursor: pointer;
  right: 0;
  div {
    background-color: $black;
    width: 34px;
    height: 3px;
    margin: 8px 0;
    transition: ease 0.3s;
    border-radius: 10px;
  }
}
.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-9px, -6px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-down 0.2s ease-in-out;
}

@keyframes slide-down {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  height: calc(100vh - 90px);
  width: 100%;
  background-color: rgba($color: $body-background-color, $alpha: 1);
  transition: ease 0.3s;
  z-index: 9999;
  padding-top: 20px;
  font-family: "prox-medium";
  li {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    .mobile-link {
      color: $primary;
    }
    .mobile-link2 {
      font-size: 18px;
      color: $nav-sublinks-color;
    }
    a {
      font-size: 22px;
      color: $black;
      font-family: "prox-medium";
      text-decoration: none;
      width: 100%;
      height: 70px;
      letter-spacing: 0em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
      i {
        font-size: 16px;
      }
    }
  }
  span {
    opacity: 0;
  }
}

.test {
  width: 100%;
  height: 120%;
  background-color: red;
}

.test2 {
  width: 100%;
  height: 120%;
  background-color: blue;
}

@media (max-aspect-ratio: 1 / 1) {
  .toplinks .nav-links {
    display: none;
  }
  .sublinks-container {
    display: none;
  }
  .hamburger-icon {
    display: block;
    margin-right: 32px;
    margin-top: 28px;
  }
}
