$primary: #0065bd;
$white: #e0e0e0;
$grey: #b8b8b8;
$dark-grey: #909090;
$black: #141414;

$body-background-color: #eaeaea;
$nav-background-color: #dedede;
$nav-sublinks-color: #464646;
$footer-background-color: #d9d9d9;
